/* ------------------------- */
/* ------- Banner Image --------- */
/* ------------------------- */

.bannerContainer{
    padding: 50px;
}
.bannerImageContainer {
    box-shadow: 5px 5px 15px;
    border-radius: 8px;
    position: relative;
    width: 80%;
    height: 400px;
    margin: auto;
}
.bannerImageContainer > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index:-999;
}

#editBannerButton {
    position: absolute;
    right: 15px;
    bottom: 15px;
    color: whitesmoke;
    background-color:#404040;
    border: #404040;
}

#editBannerButton:focus {
    outline: none;
    box-shadow: none;
}

/* ------------------------- */
/* ------- Banner Crop Menu --------- */
/* ------------------------- */

.modal-dialog{
    max-width: 80%;
}

#modalHeader{
    border-bottom: none;
}

.cropButtons{
    width:80%;
    margin: auto;
    margin-top: 20px;
    justify-content: space-between;
}

.cropButtons > div > button {
    margin-left: 12px;
}


/* ------------------------- */
/* ------- User Block --------- */
/* ------------------------- */

.profileBlock {
    background-color:   linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      );
    width: 65%;
    min-height: 150px;
    margin-left: 10%;

}
