.pageContainer{
  background-color: black;
  color: whitesmoke;
}

.pageBodyContainer{
  min-height: 500px;
}

input{
  color: whitesmoke;
}

/* ------------------------- */
/* ------- BUTTONS --------- */
/* ------------------------- */
.btn-primary:hover {
  background-color: rgba(0,0,0,0);
  border-color: whitesmoke;
  color: whitesmoke;
}

.btn-primary{
  background-color: rgba(0,0,0,0);
  border-color: whitesmoke;
  color: whitesmoke;
  font-size:13px;
}

.btn:hover {
  background-color: rgba(0,0,0,0);
  border-color: whitesmoke;
  color: whitesmoke;
}

.btn-primary:active{
  background-color: rgba(0,0,0,1);
  box-shadow:none;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow:none;
}
.btn:focus{
  border-color: whitesmoke;
  color: whitesmoke;
  box-shadow:none;
  background-color: rgba(0,0,0,0);
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  background-color: rgba(0,0,0,1);
  border-color: whitesmoke;
  color: whitesmoke;
  box-shadow:none;
}

/* ------------------------- */
/* ------- NAVBAR --------- */
/* ------------------------- */
.navCustom {
  margin-bottom: 15px;
}
.navbar-nav  {
  float: right;
}
.navbarItems {
  display: flex;
}
.navbar {
  background-color:	black;
  padding: 0.2rem 1rem !important;
}

#navbarTitle,
.dropdown-toggle ,
.nav-link,
.nav-link:hover{
  color:whitesmoke;
}
.dropdown-toggle::after {
  display: none !important;
}

#navbarUserIcon{
  margin: 15px 10px 0px 10px;
  color: whitesmoke;
}

@media (max-width: 768px) {
  .navbar-expand-md .navbar-nav {
    flex-direction: row;
  }
  .navbar-nav{
    flex-direction: row !important;
  }
}



/* ------------------------- */
/* ------- LOGIN --------- */
/* ------------------------- */

#logInComponent {
  margin-top: 15px;
}

/* ------------------------- */
/* ------- MODAL --------- */
/* ------------------------- */

.modal-content{
  background-color: #181818	;
}

.close {
  color: whitesmoke;
}

.close:hover{
  color:whitesmoke;
}

.aspectInput{
  color:black;
  max-width: 80px;
  min-height: 18px;
  margin-left: 10px;
  font-size: 12px;
}