.galleryBlockContainer{
    padding: 20px 80px;
}

.galleryTop {
    min-height: 50px;
}

.gallerySortAlert{
    width:90%;
    display: inline-block;
    background-color: #C3073F;
    border: none;
    color:whitesmoke
}

.rightButtons{
    display: inline;
    float:right;
}
.rightButtons > button{
    margin-left: 10px;
}
.dropdown {
    float: right;
}

.dropdown > a:hover {
    text-decoration: none;
}
.threedots:after {
    content: "\2807";
    font-size: 30px;
    color: whitesmoke;
}

/* ---- MODAL ---- */

.thumbsContainer{
    display: 'flex';
    flex-direction: 'row';
    flex-wrap: 'wrap';
    margin-top: 16;
}

.thumb {
    display: 'inline-flex';
    border-radius: 2;
    border: '1px solid #eaeaea';
    margin-bottom: 8;
    margin-right: 8;
    width: 100;
    height: 100;
    padding: 4;
    box-sizing: 'border-box';
}

.thumbInner {
    display: 'flex';
    min-width: 0;
    overflow: 'hidden';
}

.thumbImg{
    display: 'block';
    width: 'auto';
    height: '100%';
}